* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.error {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error h1 {
    font-size: 120px;
    margin: 0;
}

.error h2 {
    font-size: 20px;
}

.error a {
    margin-top: 14px;
    border-radius: 4px;
    text-decoration: none;
    padding: 14px;
    color: #ffffff;
    background-color: #374bcd;
}