* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.error {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error h1,
h2 {
    font-size: 40px;
    margin: 0;
}